*.iml
.gradle
.idea
build
gradle
gradle.properties
gradlew
gradlew.bat
proguard-rules.pro
local.properties
/app/.gitignore
/build/
/app/proguard-rules.pro
/.idea/
/gradle.properties
/gradlew
/app/build/
/local.properties
/gradle/
/.gradle/
/gradlew.bat
